@import "global.css";

.c-banner {
    height: 780px;
}
.c-banner ul {

}
.c-banner ul li {
    left: 50%!important;
}
.c-banner ul li img {
    position: absolute;
    left: -960px;
}
.c-banner .c-banner-info {
    width: 540px;
    height: 200px;
    display: inline-block;
    position: absolute;
    left: -270px;
    top: 200px;
    text-align: center;
    font-size: 60px;
    color: #fff;
}
.c-banner .c-banner-button {
    display: inline-block;
    position: absolute;
    left: -140px;
    top: 300px;
    text-align: center;
    width: 255px;
}